<div class="content">
    <div id="content">
        <div class="block">
            <h1>{_w('Telegram bots')}</h1>
            <p>{$message|escape}</p>
        </div>

        <div class="block">
            <table>
                <tr>
                    <td width="123" height="123">
                        <a href="http://itfrogs.ru/feedback/#app/telegram" target="_blank">
                            <img src="{$wa_url}wa-apps/telegram/img/feedback.gif" width="123" height="123" border="0"
                                 title="[`QR code`]">
                        </a>
                    </td>
                    <td>
                        <a href="http://itfrogs.ru/feedback/#app/telegram" target="_blank">{_w('Technical support for this app')}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>